Chameleon==2.9.2
Mako==0.7.2
Markdown==2.1.1
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
WebOb==1.2.1
distribute==0.6.21
docutils==0.9
iniparse==0.4
numpy==1.6.1
paramiko==1.7.7.1
pycrypto==2.3
pycups==1.9.59
pycurl==7.19.0
pygpgme==0.1
pyramid==1.3b3
pysmbc==1.0.11
python-pexpect==2.3
pyudev==0.12
repoze.lru==0.6
scons==1.2.0.d20100117
simplejson==2.2.1
synaptiks==0.8.0
translationstring==1.1
urlgrabber==3.9.1
vboxapi==1.0
venusian==1.0a6
virtualenv==1.7.2
waitress==0.8.1
wsgiref==0.1.2
yum-metadata-parser==1.1.2
zope.deprecation==4.0.0
zope.interface==4.0.1
