
/* For setting up the image scaled in the background */
/* Detailed here http://css-tricks.com/perfect-full-page-background-image/ */
html { 
        background-image: url(/static/ggbridgecolorize.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:  cover;
        z-index: -99999999;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}
.center {
  display: block;
  margin: auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, li {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

#profile-box{
    position: absolute;
    top: 114px;
    background-color: rgba(0, 0, 0, 0.80);
    left: 8%;
    right: auto;
    top: 140px;
    width: 465px;
    height: 390px;
}

.profile {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: visible;
    z-index: 0;
    background-color: transparent;
    position: absolute;
    top: 129px;
    border-radius-topleft: 3px;
    border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border: 1px solid transparent;
    
}

.profile-icon-set{
	float: left;
padding: 0px 0px 0px 20px;
width: auto;
font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 15px;
color: white;
font-style: normal;
font-weight: 400;
color: white;
line-height: 1.5;

}


.profile-icon-set img.top:hover {
        opacity:0;
}
.profile-icon-set img{
	position: absolute;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
}



.projects{
    padding: 0px 20px 10px 20px;
    width: auto;
    min-width: 240px;
    max-width: 840px;
    font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 16px;
color: white;
font-style: normal;
font-weight: 400;
line-height: 1.5;
}

.projects a{
	color: inherit;
}

.projects a:link{
	
	text-decoration: none;
	
}
.projects a:hover{
	text-decoration: underline;
}


.projects h3{
font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 16px;
color: white;
font-style: normal;
font-weight: 600;
color: white;
line-height: 1.5;
}

.profile-head{
    float: left;
    padding: 20px 20px 0px 20px;
    width: auto;
    min-width: 240px;
    max-width: 840px;
}

.bio{
font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 16px;
color: white;
font-style: normal;
font-weight: 400;
color: white;
line-height: 1.5;
}


.profile-divider{
        height: 0px;
background: transparent;
border-top: 1px solid black;
border-bottom: 1px solid white;
opacity: 0.16;
background-position: initial initial;
background-repeat: initial initial;
margin: 8px 0 15px 0;
width: auto;
        
}

h2.headline {
line-height: 1.2;
color: white;
margin: 0;
margin-bottom: .4em;
visibility: visible;
font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 19px;
color: white;
}




body{
    color: #333333;
    font-family: "proxima",Tahoma,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.3;
}

h1.name {
font-family: proxima-nova-1,proxima-nova-2, "proxima", Tahoma, Helvetica, Verdana, sans-serif;
font-size: 64px;
color: white;
line-height: 1.1;
margin: 0 0 .1em 0;
}
