
html { 
	background-image: url(/static/ggbridgecolorize.jpg);
        background-repeat: no-repeat;
        background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}